@font-face {
    font-family: 'StratosSkyeng';
    src: url('./fonts/stratosskyengweb-regular.woff') format('woff'), url('./fonts/stratosskyengweb-regular.woff2') format('woff2');
}

input {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
}

a {
    all: unset;
} 

.main {
    background-color: #004980;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.complexity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 459px;
    background: #C2F5FF;
    border-radius: 12px;
}

.complexity__text {
    text-align: center;
    max-width: 208px;
    font-size: 40px;
    line-height: 48px;
    color: #004980;
}

.complexity__numbers {
    padding-top: 48px;
    display: flex;
    gap: 24px;
}

.complexity__numbers_number {
    width: 98px;
    height: 98px;
    background: #FFFFFF;
    border-radius: 12px;
    font-size: 64px;
    line-height: 72px;
    color: #0080C1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.complexity__numbers_number:hover {
    transform: scale(1.3);
}


.complexity__button {
    margin-top: 67px;
    border: none;
    width: 246px;
    height: 50px;
    background: #7AC100;
    border-radius: 12px;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}